<html lang="en">
<head>
   {{>headerlinks}}
    <style>
      body {
        background-image: url(" https://img.freepik.com/free-vector/error-404-concept-landing-page_52683-18367.jpg?w=1060&t=st=1690545259~exp=1690545859~hmac=fc92c3b6d41ef0e2234e8d46183d5b1381a95aca4e6555c1f53aa94b2824a30e");
        background-size: cover;
        background-repeat: no-repeat;
      }
   </style>
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-10 main_header_left align-items-center errorPage">
                        {{!-- <figure class="errimg">
                         <img src="images/error.avif" alt="img missing" class="img-fluid" title="Anamika Sadh">
                        </figure> --}}
                    
                        {{!-- <p>Weather App</p> --}}
                        {{!-- <h1>OPPS <span class="txt_clr">404</span> Error Page!!</h1> --}}
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                   
                </div>
            </div>
        </div>        
    </div>

   {{>footer}}

</body>
</html>